[global]
pid = /var/run/php/php{{ php_major_version }}-fpm.pid

error_log = /var/log/php{{ php_major_version }}-fpm.log
syslog.ident = php-fpm
syslog.facility = daemon
log_level = debug
daemonize = yes

emergency_restart_threshold = 10
emergency_restart_interval = 1m
process_control_timeout = 10

process.max = 0
include=/etc/php/{{ php_major_version }}/fpm/pool.d/*.conf
