[www]
user = {{ web_user }}
group = {{ web_user }}

listen.backlog = -1

listen =/var/run/php/php{{ php_major_version }}-fpm.sock

listen.owner = {{ web_user }}
listen.group = {{ web_user }}
listen.mode = 0660

pm = dynamic
pm.max_children = 1000
pm.start_servers = 25
pm.min_spare_servers = 25
pm.max_spare_servers = 50
pm.max_requests = 1000
pm.process_idle_timeout = 20

request_slowlog_timeout = 30s
request_terminate_timeout = 600s

access.format = %R - %u %t "%m %r" %s
slowlog = /var/log/php{{ php_major_version }}-fpm-slow.log

rlimit_files = 131072
rlimit_core = unlimited

catch_workers_output = yes

; fpm monitoring
pm.status_path = /fpm_status
ping.path = /fpm_health
ping.response = pong
