user {{ nginx_user }};
worker_processes auto;

# Number of file descriptors used for Nginx.
# This is set in the OS with 'ulimit -n 200000'
# or using /etc/security/limits.conf
worker_rlimit_nofile {{ nginx_ulimit }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    # optimized to serve many clients with each thread, essential for linux
    use epoll;

    #
    # Determines how many clients will be served by each worker process.
    #    (Max clients = worker_connections * worker_processes)
    # In reverse proxy mode:
    #    (Max clients = worker_connections * worker_processes / 2)
    #
    # "Max clients" is also limited by the number of socket connections
    # available on the system (~64k)
    #
    #worker_connections  1024;  # nginx default
    worker_connections   {{ nginx_worker_connections }};


    #
    # Accept as many connections as possible, after nginx gets notification
    # about a new connection.
    # May flood worker_connections, if that option is set too low.
    #
    multi_accept off;

}


http {

        ##
        # Basic Settings
        ##

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        server_tokens off;

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 120;
        types_hash_max_size 1024;
        types_hash_bucket_size 512;

        server_names_hash_max_size 512;
        server_names_hash_bucket_size 64;
        # server_name_in_redirect off;


        ##
        # SSL Settings
        ##

        #ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_protocols TLSv1.2; # Dropping TLSv1 TLSv1.1 and SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;
        

        ##
        # Logging Settings
        ##
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        access_log /var/log/nginx/access.log ;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";


        ##
        # Http Proxy Setting
        ###
        client_body_temp_path   /var/nginx/client_body_temp;
        client_max_body_size    2048m;
        client_body_buffer_size 256k;
        proxy_redirect          off;
        proxy_temp_path         /var/nginx/proxy_temp;
        proxy_connect_timeout   300;
        proxy_send_timeout      900;
        proxy_read_timeout      900;
        proxy_buffers           32 4k;
        proxy_buffer_size       8k;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_headers_hash_bucket_size 64;

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}
