l2.name={{ l2_name }}
l2.site={{ l2_site|upper }}

# AWS credentials
l2.aws.accessKey={{ aws_accesskey }}
l2.aws.secretKey={{ aws_secretkey }}

# Memory levels in percent
l2.memory.level.critical.percent={{ memory_level_critical_percent }}

# Notification
l2.notification.worker.count={{ notification_worker_count }}
l2.delete.message.worker.count={{ delete_message_worker_count }}

# Upload related settings
l2.store.worker.count={{ store_worker_count }}
l2.store.retries.count={{ store_retries_count }}

# Use AWS SQS FIFO
# true/false
l2.enable.fifo={{ enable_fifo }}

# Download related settings
l2.cache.worker.count={{ cache_worker_count }}
l2.cache.retries.count={{ cache_retries_count }}
l2.cache.from.cloudfront={{ cache_from_cloudfront }}

# Cleanup related settings
l2.cleanup.worker.count={{ cleanup_worker_count }}
# age in days of file to be automatically deleted when memory usage is above memory warning level
l2.cleanup.files.to.delete.age={{ cleanup_delete_files_to_delete_age }}

# Queues related settings
l2.queue.prefix={{ queue_prefix }}

# Delay for reading messages from the amazon queues
l2.message.read.delay.in.seconds={{ message_read_delay_in_seconds }}

# md5sum check
l2.verify.file.download.md5={{ verify_file_download }}

# Internet bandwidth in Mbps used to calculate message visibility timeout
l2.internet.bandwidth={{ internet_bandwidth }}

# true if it needs to change delay timeout of cache and store messages based on file size and Internet bandwidth
l2.change.message.delay.timeout={{ change_message_delay_timeout }}

# The minimum file size in Megabyte should be used for delay cache and store messages.
l2.minimum.file.size.for.delay={{ minimum_file_size_for_delay }}

# Force running GC periodically
l2.garbage.collector.forced={{ garbage_collector_forced }}

# true if upload files via CloudFront
l2.upload.via.cloudfront={{ upload_via_cloudfront }}
l2.cloudfront.url={{ upload_cloudfront_url }}
