log_format l2_ssl_json_combined escape=json '{ "created_at": "$msec", '
            '"server_addr": "$server_addr", '
            '"remote_addr": "$remote_addr", '
            '"remote_user": "$remote_user", '
            '"request": "$request", '
            '"status": $status, '
            '"bytes_sent": $bytes_sent, '
            '"request_length": $request_length, '
            '"request_time": $request_time, '
            '"http_referrer": "$http_referer", '
            '"http_x_forwarded_for": "$http_x_forwarded_for", '
            '"http_user_agent": "$http_user_agent" }';
server {
    listen 443 ssl;
    server_name  {{ l2_ssl_dns_name }};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256";
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;

    add_header Access-Control-Allow-Origin *;
    ssl_certificate /etc/ssl/certs/wildcard_esoft_com_ca_bundle.crt;
    ssl_certificate_key /etc/ssl/certs/wildcard_esoft_com_decrypted.key;
    client_body_timeout 60m;
    client_header_timeout 60m;
    client_max_body_size 2048m; 



    root /data;
    index index.php index.html index.htm;

    access_log            /var/log/nginx/l2.access.log l2_ssl_json_combined;
    error_log             /var/log/nginx/l2.error.log;

  location /upload {

     if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'POST, OPTIONS';
        #
        # Custom headers and headers various browsers *should* be OK with but aren't
        #
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Content-MD5';
        #
        # Tell client that this pre-flight info is valid for 20 days
        #
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain; charset=utf-8';
        add_header 'Content-Length' 0;
        return 204;
     }
     if ($request_method = 'POST') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range,Location';
     }

    root      /data;
    index     index.html index.htm index.php;
    client_body_buffer_size 128k;
    client_body_in_file_only on;
    client_body_temp_path /data/tmp 1;
    client_max_body_size 2048m;
    fastcgi_connect_timeout 10m;
    fastcgi_read_timeout 10m;
    fastcgi_send_timeout 10m;
    proxy_pass http://localhost/upload_done.php;
    proxy_pass_request_headers on;
    proxy_redirect off;
    proxy_set_body off;
    proxy_set_header X-FILE $request_body_file;
    limit_except POST OPTIONS { deny all; }
  }

  location /files {

     if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
        #
        # Custom headers and headers various browsers *should* be OK with but aren't
        #
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Content-MD5';
        #
        # Tell client that this pre-flight info is valid for 20 days
        #
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain; charset=utf-8';
        add_header 'Content-Length' 0;
        return 204;
     }
     
     if ($request_method = 'GET') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
     }
    root      /data;

    autoindex on;
    index     index.html index.htm index.php;
  }

  location ~ \.php$ {

    include  fastcgi_params;

    fastcgi_pass  unix:/var/run/php/php{{ php_major_version }}-fpm.sock;
    # very important configuration
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_connect_timeout 10m;
    fastcgi_read_timeout 10m;
    fastcgi_send_timeout 10m;
  }

  location /fpm_ping {
    allow 127.0.0.1;
    allow 10.0.2.74;
    allow 212.98.86.254;
    allow 192.168.33.0/24;
    allow 10.16.0.0/16;
    allow 10.0.0.0/16;
    deny all;

    include       /etc/nginx/fastcgi_params;

    fastcgi_pass  unix:/var/run/php/php{{ php_major_version }}-fpm.sock;
    access_log off;
  }

  location /fpm_status {
    allow 127.0.0.1;
    allow 10.0.2.74;
    allow 212.98.86.254;
    allow 192.168.33.0/24;
    allow 10.16.0.0/16;
    allow 10.0.0.0/16;
    deny all;

    include       /etc/nginx/fastcgi_params;

    fastcgi_pass  unix:/var/run/php/php{{ php_major_version }}-fpm.sock;
    access_log off;
  }

  location / {

    root      /data;
    index     index.html index.htm index.php;
    try_files $uri $uri/ /index.php?$query_string;

  }

  location /\. {
    deny all;

    access_log off;
    log_not_found off;
  }

  location /favicon.ico {

    access_log off;
    log_not_found off;
  }

  location /nginx_status {
    allow 127.0.0.1;
    allow 10.16.1.0/24;
    allow 10.16.200.0/24;
    allow 10.68.34.0/24;
    allow 10.68.39.0/24;
    allow 10.68.47.0/24;
    allow 10.68.48.0/24;
    deny all;

    stub_status on;
    access_log off;
  }
}
