[Unit]
Description=L2 daemon

[Service]
User=l2
Group=l2
Type=simple

ExecStart=/usr/bin/java -server -Djava.awt.headless=true -Xms{{ java_memory }} -Xmx{{ java_memory }} -Dlogback.configurationFile=/etc/l2/logback.xml -jar /home/l2/bin/l2.jar /etc/l2

Restart=always
[Install]
WantedBy=multi-user.target
