[Unit]
Description=L3 daemon

[Service]
User=l2
Group=l2
Type=simple

ExecStart=/usr/bin/java -server -Djava.awt.headless=true -Xms{{ java_memory }} -Xmx{{ java_memory }} -Dlogback.configurationFile=/etc/l2/logback-l3.xml -jar /home/l2/bin/l3-service.jar --l2.name={{ l2_name }} /etc/l2

Restart=always
[Install]
WantedBy=multi-user.target
