<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>logs.papertrailapp.com</syslogHost>
    <port>11018</port>
    <facility>USER</facility>
    <suffixPattern>l3-service: %-5level [%file:%line] [%X{user-agent}] %n&lt;%msg&gt;%n%rEx{5}</suffixPattern>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{5} [%file:%line] [%thread] %msg%n%rEx{5}</pattern>
    </encoder>
  </appender>

  <logger name="com.esoftsystems.l3" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="PAPERTRAIL" />
  </root>
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>