<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <appender name="errorFile"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/var/log/l2/l2-error.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <FileNamePattern>l2-error.%d{yyyy-MM-dd}.log</FileNamePattern>
                        <MaxHistory>2</MaxHistory>
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>%date{dd-MM-yyyy HH:mm:ss} %-5level %logger{0} [%file:%line] [%thread]%n&lt;%msg&gt;%n%xEx{full}%n</Pattern>
                </layout>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                        <level>ERROR</level>
                        <onMatch>ACCEPT</onMatch>
                        <onMismatch>DENY</onMismatch>
                </filter>
        </appender>

        <appender name="reportFile"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/var/log/l2/l2.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <FileNamePattern>l2.%d{yyyy-MM-dd}.log</FileNamePattern>
                        <MaxHistory>2</MaxHistory>
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>%date{dd-MM-yyyy HH:mm:ss} %-5level %logger{0} [%file:%line] [%thread]%n&lt;%msg&gt;%n%ex{short}%n</Pattern>
                </layout>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                        <level>ERROR</level>
                        <onMatch>DENY</onMatch>
                        <onMismatch>ACCEPT</onMismatch>
                </filter>
        </appender>

        <appender name="syslogPapertrail" class="ch.qos.logback.classic.net.SyslogAppender">‚
                <syslogHost>logs.papertrailapp.com</syslogHost>‚
                <port>11018</port>‚
                <facility>LOCAL7</facility>‚
                <suffixPattern>L2ScheduledCleanup-%-5level %logger{0} [%file:%line] [%thread] &lt;%msg&gt;</suffixPattern>‚
        </appender>

        <logger name="com.amazonaws" level="WARN" />
        <logger name="org.apache" level="WARN" />
        <logger name="com.esoftsystems" level="INFO" />
        <logger name="com.esoftsystems.l2.common.FileUtils" level="DEBUG" />

        <root level="INFO">
                <appender-ref ref="errorFile" />
                <appender-ref ref="reportFile" />
                <appender-ref ref="syslogPapertrail"/>
        </root>
