#!/bin/sh
/sbin/ip rule add from {{ EXTERNAL_NETWORK_IP }}/{{ EXTERNAL_SUBNET_MASK }} table {{ ROUTING_TABLE_ID }}
/sbin/ip rule add to {{ EXTERNAL_NETWORK_IP }}/{{ EXTERNAL_SUBNET_MASK }} table {{ ROUTING_TABLE_ID }}
/sbin/ip route add default via {{ EXTERNAL_GATEWAYIP }} dev {{ EXTERNAL_NETWORK_INTERFACE }} table {{ ROUTING_TABLE_ID }}
/sbin/ip route flush cache