[Unit]
Description=lychee-storage daemon

[Service]
User=lychee-storage
Group=lychee-storage
Type=simple

ExecStart=/usr/bin/java -server -Djava.awt.headless=true -Xms{{ java_memory }} -Xmx{{ java_memory }} -jar /home/lychee-storage/bin/lychee-storage.jar /etc/lychee-storage

Restart=always
[Install]
WantedBy=multi-user.target
