PidFile=/var/run/zabbix/zabbix_agent2.pid
LogType=file
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=3
Server=127.0.0.1,10.0.0.0/8
ServerActive={{ zabbix_server_name }}
HostInterface={{ zabbix_host_ip }}
ListenPort=10050
RefreshActiveChecks=60
BufferSend=5
BufferSize=100
Timeout=30
Include=/etc/zabbix/zabbix_agent2.d/*.conf
UnsafeUserParameters=0
HostMetadata={{ zabbix_meta_data }}