! Configuration File for keepalived

global_defs {
   notification_email {
     acassen@firewall.loc
     failover@firewall.loc
     sysadmin@firewall.loc
   }
   notification_email_from Alexandre.Cassen@firewall.loc
   smtp_server 192.168.200.1
   smtp_connect_timeout 30
   router_id LVS_DEVEL
}

vrrp_script chk_haproxy {
   script "sh /etc/keepalived/check.sh"   # verify the pid existance
   interval 2                    # check every 2 seconds
   weight 2                      # add 2 points of prio if OK
}

vrrp_instance VI_1 {
   interface {{ keepalived_bind_interface }}                # interface to monitor
   state MASTER
   virtual_router_id 51          # Assign one ID for this route
   priority {{ keepalived_priority }}                  # 101 on master, 100 on backup
   virtual_ipaddress {
       {{ keepalived_vip }} dev {{ keepalived_bind_interface }} # the virtual IP
   }
   track_script {
       chk_haproxy
   }
}
